

header{
    width: 100%;
    background: orange;
    height: 10px;

    @keyframes fadeAway{
        from{
            opacity: 0.5;
        }
        to{
            opacity: 1;
        }
    }
    
    .header-container{
        // margin-top: 5px;
        height: 80vh;
        background: rgb(1, 151, 189);
        position: relative;
        text-align: center; 

        .section-container{
            background: rgba(1, 151, 189, 0.291);
            position: relative;
            width: 100%;
            height: 85vh;
            bottom: 35.5rem;
            z-index: 9;
        }
    }
    .header-container img{
        width: 100%;
        height: 85vh;
        display: none;
    }
    .header-container img.active-image{
        display: block;
        width: 100%;
        height: 85vh;
    }  

    .dotted{
        position: absolute;
        display: flex;
        justify-content: center;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0;
        margin-bottom: .5rem;

        .dots{
            cursor: pointer;
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 50%;
            margin-left: 10px;
            opacity: 0.5;
        }
        .active-Dots, .dots:hover{
            opacity: 1;
        }
    }

    .fade{
        animation-name: fadeAway;
        animation-duration: 2s;
    }
  
}