<nav class="second-nav">
    <div class="container">
        <div class="menu-icon">
            <button mat-button class="mat-icon">
                <mat-icon class="menu">menu</mat-icon>
            </button>
            <p>Shop By Categories</p>
        </div>
        <div class="category-search">
        <form action="" method="post">
            <input (keyup)="filterSearch($event)" type="text" #input placeholder="search item......">
        </form>
        <button mat-button class="search">
            <mat-icon>
                search
            </mat-icon>
        </button>
        </div>

        <div class="register">
            <div class="control-btn">
            <div class="signin">
            <button class="sign-btn">
                <a routerLink="">Signin</a>
            </button>
            </div>
            <div class="signup">
            <button class="sign-btn">
                <a routerLink="">Signup</a>
            </button>
            </div>
            </div>
            <div class="menu-icon-button">
                <button mat-button class="mat-icon">
                    <mat-icon class="menu">menu</mat-icon>
                </button>
            </div>
        </div>
    </div>
</nav>
