<!-- <nav class="second-nav">
    <div class="main-container">
        <div class="menu-icon">
            <button mat-button class="mat-icon">
                <mat-icon>menu</mat-icon>
            </button>
            <p>Shop By Categories</p>
        </div>
        <div class="category-search">
         <button mat-button class="category-items">
            Category
            <mat-select formControlName="shopping" class="mat-select">
                <mat-option *ngFor="let shop of shopping" [value]="shop">
                    {{shop | titlecase}}
                </mat-option>
            </mat-select>
            </button>

        <mat-form-field>
            <input (keyup)="filterSearch($event)" type="text" #input placeholder="search......">
        </mat-form-field>
        <button mat-icon-button class="search">
            <mat-icon>
                search
            </mat-icon>
        </button>
        </div>

        <div class="register">
            <div class="signin">
            <button class="btn">
                <a routerLink="">Signin</a>
            </button>
            </div>
            <div class="signup">
            <button class="btn">
                <a routerLink="">Signup</a>
            </button>
            </div>
        </div>
    </div>
</nav> -->
