/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    margin: 0;
    padding: 0;
}
.container{
    width: 85%;
    margin: 0 auto;
}
button{
    border: none;
    outline: none;
}
.section-container{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;

    .left-container{
      width: 50%;
    }
    .right-container{
        width: 50%;
      }
}
.btn{
    width: 130px;
    height: 30px;
    border-radius: 20px;
    background: rgb(1, 151, 189);
    color: white;

    &:hover{
        background: orange;
        transition: 1s;
    }
}